/* style.css */


/* Add background and overall styling */
body {
    background-color: #ffffff;
    color: var(--text-color);
    margin: 0;
    font-family: Arial, sans-serif;
    
}

/* Style the header */
.header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the section title */
.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style the team member cards */
.team-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-bottom: 20px;
}

/* Style team member images */
.team-member-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* Style team member details */
.team-member-details {
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Style team member name */
.team-member-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style team member role */
.team-member-role {
    font-size: 14px;
    color: #ffffff;
}

/* Add a hover effect to team cards */
.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .team-card {
        width: 100%;
    }
}

